# ignore TXT file
*.TXT

# ignore Python virtual environment
.spyproject

# ignore Python scripts
con*.py

# ignore Jupyter files, for now
*.ipynb

# ignore JSON files, 20xx cfb folders, and CSV files
*.json
20*
*.csv

# Ignore Mac system files
.DS_store

# Ignore Python bytecode folder
__pycache*
